nav {
    display: flex; flex-wrap: wrap; justify-content: center;
    width: 100%; height: 100%;
    background: var(--clr-fondo1);
}
.home-btn, .projects-btn, .contact-btn  {
    width: 100%;
    height: 12vh;
    margin: auto;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;
}
.svg-logo {
    width: 80%;
    height: 80%;
}
nav hr {
    width: 80%;
    height: 1px;
}
