.top {
    grid-area: top;
    display: flex; justify-content: center; align-items: center;
    font-size: 1.5em;
    background: linear-gradient(var(--clr-fondo1), var(--clr-fondo2));
    h2 {
        color: var(--clr-bordes);
        animation: nav-fadein 1s forwards;
    }
    
}
nav {
    grid-area: nav;
    display: flex; justify-content: center; align-items: center;
    width: 100%; height: 100%;
    background: linear-gradient(var(--clr-fondo1), var(--clr-fondo2));
    div {
        position: relative;
    }
    a {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }
}
@for $i from 1 to 5 {
    nav>div:nth-child(#{$i}) {
        animation: nav-fadein 1s forwards;
        animation-delay: $i * 0.3s;
    }
}
.home-btn, .projects-btn, .contact-btn, .skills-btn  {
    opacity: 0;
    width: 10vh; height: 10vh;
    margin: auto;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;
    border-radius: 15px;
}
.home-btn:hover, .projects-btn:hover, .contact-btn:hover, .skills-btn  {
    background: var(--clr-fondo1);
    transition: 1.2s;
} 
.active {
    background: var(--clr-fondo1);
}
.svg-logo {
    width: 80%;
    height: 80%;
}

