body {
    background: var(--clr-fondo2);
    display: grid;
    grid-template-columns: 3fr 1.5fr 1.5fr 3fr 1fr; 
    grid-template-rows:  22vh 39vh 39vh;
    grid-template-areas:    "top               top                top               nav            nav"
                            "structure-courses structure-courses  structure-courses structure      structure"
                            "code              code               code-courses      code-courses   code-courses";
}
.design {grid-area: design;}
.design-courses {grid-area: design-courses;}
.code {grid-area: code;}
.code-courses {grid-area: code-courses;}
.structure {grid-area: structure;}
.structure-courses {grid-area: structure-courses;}

/* SKILL BOXES */
.skill-box {
    border: 1px dashed var(--clr-bordes);
    display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    position: relative;
    color: var(--clr-fondo3);
}
.skill-logo {
    width: 20%; height: auto;
    margin: auto;
    z-index: 10;
}
.code::after {
    background-image: url("../images/code.jpg");
}
.structure::after {
    background-image: url("../images/design.jpg");
}
.code::after, .structure::after {
    background: {
        position: center;
        size: cover;
    }
    content: '';
    opacity: 0.1;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: -1;
}
    /* CAROUSEL */
    .carousel, .carousel-structure {
        width: 100%; height: 100%;
        position: relative;
        display: flex; justify-content: center;

        img {
            width: 30%;
            border-radius: 10px;
        }
        .carousel-slide-container, .carousel-structure-slide-container {
            position: relative;
            width: 80%; height: 100%;
            overflow: hidden;
        }
        .carousel-slide-list, .carousel-slide-list-structure {
            list-style: none;
            position: relative;
            height: 100%;
            top: 15px; left: 15px;
            transition: transform 0.8s;
        }
        .carousel-slide, .carousel-slide-structure {
            position: absolute;
            width: 100%; height: 90%;
            object-fit: cover;
            display: flex; 
            h4 {
                width: 60%;
                font-size: 2em;
                margin-left: 30px;
            }
            p{
                width: 60%;
                font-size: 1.1rem;
                margin-top: 8px;
            }
        }
        .carousel_button, .carousel-structure_button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: 0;
            cursor: pointer;
            outline: none;
            img {
                width: 35px;
            }
        }
        .carousel_button-left, .carousel-structure_button-left {
            left: 15px;
        }
        .carousel_button-right, .carousel-structure_button-right {
            right: 15px;
        }
        .carousel-nav, .carousel-structure-nav {
            position: absolute;
            bottom: 0; left: 65%;
            transform: translateX(-50%);
            display: flex; justify-content: center;
            padding: 10px 0;
            .carousel-indicator, .carousel-structure-indicator {
                border: 0;
                border-radius: 50%;
                width: 13px; height: 13px;
                background: var(--clr-fondo3);
                margin: 10px;
                cursor: pointer;
                outline: none;
            }
            .carousel-indicator.current-slide, .carousel-structure-indicator.current-structure-slide {
                background: var(--clr-bordes);
            }
        }
        .hidden, .hidden-structure {
            display: none;
        }
    }

/* MOBILE */
@media (max-width: 991px) {
    body {
        background: var(--clr-fondo2);
        display: grid;
        grid-template-columns: 5fr 1fr; 
        grid-template-rows:  0.5fr 1fr 1.5fr 1fr 1.5fr;
        grid-template-areas:    "top               nav"
                                "structure         structure"
                                "structure-courses structure-courses"
                                "code              code"               
                                "code-courses      code-courses";
    }
    .skill-logo {
        width: 15%; height: auto;
    }
    /* CAROUSEL */
    .carousel, .carousel-structure {
        .carousel-slide, .carousel-slide-structure {
            h4 {
                width: 60%;
                font-size: 1em;
                margin-left: 30px;
            }
            p{
                width: 60%;
                font-size: 0.8rem;
                margin-top: 8px;
            }
        }
    }
}