/* --- 1. GRID LAYOUT DESKTOP --- */
body {
    background: var(--clr-fondo2);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr; 
    grid-template-rows:  20vh 35vh 35vh 10vh;
    grid-template-areas:    "nav               nav                nav               nav            "
                            "structure-courses structure-courses  structure-courses structure      "
                            "code              code-courses               code-courses      code-courses"
                            "current           current            current current    ";
}
.design {grid-area: design;}
.design-courses {grid-area: design-courses;}
.code {grid-area: code;}
.code-courses {grid-area: code-courses;}
.structure {grid-area: structure;}
.structure-courses {grid-area: structure-courses;}
.current {grid-area: current;}


/* --- 2. SKILL BOXES --- */
.skill-box {
    border: 1px dashed var(--clr-bordes);
    display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
    position: relative;
    color: var(--clr-fondo3);
}
.skill-logo {
    width: 20%; height: auto;
    margin: auto;
    z-index: 10;
}
.code::after {
    background-image: url("../images/code.jpg");
}
.structure::after {
    background-image: url("../images/design.jpg");
}
.code::after, .structure::after {
    background: {
        position: center;
        size: cover;
    }
    content: '';
    opacity: 0.1;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: -1;
}
    /* CAROUSEL */
    .carousel, .carousel-structure {
        width: 100%; height: 100%;
        position: relative;
        display: flex; justify-content: center;

        img {
            width: 30%;
            border-radius: 10px;
        }
        .carousel-slide-container, .carousel-structure-slide-container {
            position: relative;
            width: 80%; height: 100%;
            overflow: hidden;
        }
        .carousel-slide-list, .carousel-slide-list-structure {
            list-style: none;
            position: relative;
            height: 100%;
            top: 15px; left: 15px;
            transition: transform 0.8s;
        }
        .carousel-slide, .carousel-slide-structure {
            position: absolute;
            width: 100%; height: 90%;
            object-fit: cover;
            display: flex; 
            h4 {
                width: 60%;
                font-size: 2.5rem;
                margin-left: 30px;
            }
            p{
                width: 60%;
                font-size: 1.5rem;
                margin-top: 8px;
            }
        }
        .carousel_button, .carousel-structure_button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: 0;
            cursor: pointer;
            outline: none;
            img {
                width: 3.5rem;
            }
        }
        .carousel_button-left, .carousel-structure_button-left {
            left: 15px;
        }
        .carousel_button-right, .carousel-structure_button-right {
            right: 15px;
        }
        .carousel-nav, .carousel-structure-nav {
            position: absolute;
            bottom: 0; left: 65%;
            transform: translateX(-50%);
            display: flex; justify-content: center;
            padding: 1rem 0;
            .carousel-indicator, .carousel-structure-indicator {
                border: 0;
                border-radius: 50%;
                width: 1.3rem; height: 1.3rem;
                background: var(--clr-fondo3);
                margin: 1rem;
                cursor: pointer;
                outline: none;
            }
            .carousel-indicator.current-slide, .carousel-structure-indicator.current-structure-slide {
                background: var(--clr-bordes);
            }
        }
        .hidden, .hidden-structure {
            display: none;
        }
    }
.current {
    background: var(--clr-fondo1-opaco);
    color: var(--clr-fondo3);
    display: flex;
    h3 {
        display: flex; justify-content: center; align-items: center;
        font-size: 1.8rem;
        width: 20%;
        margin-right: 5%;
    }
    .currently-learning {
        width: 20%;
        display: flex; align-items: center; justify-content: center;
        img {
            width: 4rem; height: 4rem;
            margin-right: 1em;
        }
        h4 {
            font-size: 1.4rem;
        }
    }
}

/* MOBILE */
@media (max-width: 991px) {
    body {
        background: var(--clr-fondo2);
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows:  1fr 2fr 3.5fr 2fr 3.5fr 1fr;
        grid-template-areas:    "nav"
                                "structure"
                                "structure-courses"
                                "code"               
                                "code-courses"
                                "current";
    }
    .skill-logo {
        width: 13%; max-height: 100%;
        object-fit: cover;
    }
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "projects contact"
                                "home     home";
    }
    /* CAROUSEL */
    .carousel, .carousel-structure {
        .carousel-slide, .carousel-slide-structure {
            h4 {
                font-size: 2rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }
}
@media (max-width: 768px) {
    .carousel, .carousel-structure {
        img {
            width: 20%; height: 70%;
        }
        .carousel-slide, .carousel-slide-structure {
            h4 {
                font-size: 1.8rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}